<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to <%= title %>
  </p>
  <% pictures.forEach(function(picture){ %>
    <div class="text-center">
      <img class="mb-3" src="../pictures/<%=picture%>" style="width:100%">
      <h4>
        <%=picture%>
      </h4>
    </div>
    <% });%>
</body>

</html>